body{
    background-color: rgb(166, 166, 206);
}
table {
    border:3px solid #6495ed;
    border-collapse:collapse;
    width:90%;
    margin:auto;
    }
    thead, tfoot {
    background-color:#D0E3FA;
    background-image:url(img/sondage\ 1.jpg);
    border:1px solid #6495ed;
    }
    tbody {
    background-color:#FFFFFF;
    border:1px solid #6495ed;
    }
    th {
    font-family:monospace;
    border:1px dotted #6495ed;
    padding:5px;
    background-color:#EFF6FF;
    width:25%;
    }
    td {
    font-family:sans-serif;
    font-size:80%;
    border:1px solid #6495ed;
    padding:5px;
    text-align:left;
    }
    caption {
    font-family:sans-serif;
    }

thead,
tfoot {
    background-color: #353;
    color: #fff;
}
}
body{
    background-color: cornflowerblue;
}
caption {
    padding: 10px;
    caption-side: initial;
}
#sond{
    background-image: url("img/71hAo6b3D+L._AC_SY450_.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	padding: 100px 30px;
	text-align: center;
	font-family: "center";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
section{
    background-image: url("img/bonne\ chance.jpg");
    background-size: cover;
	
	color: rgb(11, 194, 20);
}